@font-face { font-family: 'Mr Dafoe'; font-style: normal; font-weight: 400; font-display: swap; src: url('MrDafoe-400.woff2') format('woff2'); }
@font-face { font-family: 'Sora'; font-style: normal; font-weight: 300; font-display: swap; src: url('Sora-300.woff2') format('woff2'); }
@font-face { font-family: 'Sora'; font-style: normal; font-weight: 400; font-display: swap; src: url('Sora-400.woff2') format('woff2'); }
@font-face { font-family: 'Sora'; font-style: normal; font-weight: 600; font-display: swap; src: url('Sora-600.woff2') format('woff2'); }
